Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://asu.edu/cse445/hotels" 
            targetNamespace="http://asu.edu/cse445/hotels" 
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified">
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">CSE445 Hotels Assignment Schema</xsd:documentation>
  </xsd:annotation>
  
  <xsd:element name="Hotels" type="HotelsType"/>
  
  <xsd:complexType name="HotelsType">
    <xsd:sequence>
      <xsd:element name="Hotel" type="HotelDetails" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="HotelDetails">
    <xsd:sequence>
      <xsd:element name="Name" type="NameType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="NearestAirport" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Rating" type="RatingType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required"/>
  </xsd:complexType>
  
  <xsd:complexType name="NameType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="category" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="RatingType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="source" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  
</xsd:schema>